.thumbnail
  height: 9vh
  box-sizing: border-box
  position: relative
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  background-color: black

.remove-button
  position: absolute
  top: 2px
  right: 2px
  background-color: #424242
  color: white
  border: none
  width: 20px
  height: 20px
  padding: 0
  border-radius: 3px

.container
  height: 100%
  box-sizing: border-box
  display: flex
  align-items: center
  margin: 0 5px
  &.active
    padding-bottom: 5px
    border-top: 5px solid #2962ff
  &.moving
    z-index: 2

