.frame-item
  height: 100%
  border: 1px solid black
  box-sizing: border-box
  float: left
  position: relative
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  background-color: black

.active
  border: 1px solid red

.remove-button
  position: absolute
  top: 0
  right: 0
