.slider
  width: 200px
  margin: 0 20px

.slider::-moz-range-track
  background-color: #616161

.slider::-moz-range-thumb
  background-color: #e0e0e0
  width: 30px
  height: 30px
  border-radius: 15px
  border: none
