.slider
  width: 200px
  margin: 0 20px
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0)
  border: none

  &::-moz-range-track
    background-color: #616161
  &::-webkit-slider-runnable-track
    -webkit-appearance: none;
    background-color: #616161
    height: 3px

  &::-moz-range-thumb
    background-color: #e0e0e0
    width: 3vh
    height: 3vh
    border-radius: 1.5vh
    border: none
  &::-webkit-slider-thumb
    margin-top: calc(-1.5vh + 1.4px)
    -webkit-appearance: none;
    background-color: #e0e0e0
    width: 3vh
    height: 3vh
    border-radius: 1.5vh
    border: none
