.button
  width: 60px
  height: 60px
  border-radius: 15px
  background-color: #424242
  color: white
  border: none
  margin: 0 5px
  font-size: 3vh
  cursor: hand

.button[disabled]
  color: #757575
