.pen
  width: 5vh
  height: 10vh
  margin: 1px 5px
  box-sizing: border-box
  padding-top: 2.5vh

.pen-active
  border-bottom: 5px solid #2962ff

.color
  width: 100%
  height: 5vh
  border-radius: 2.5vh
